<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8"/>
    <title>Pageable - Infinite Scrolling</title>
    <link rel="stylesheet" href="//cdn.materialdesignicons.com/3.0.39/css/materialdesignicons.min.css">
    <link href="{{ static_url('vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ static_url('vendor/pageable/css/infinite.css') }}">
  </head>
  <body>
    <div class="bottomed" title="Download invitation in PDF">>
      <a class="button" href="{{ invitation_link }}">
        <i class="fas fa-download fa-lg"></i>
      </a>
    </div>
    <main>
      <section data-anchor="page 1">
        <div class="container">
          <img src="{{ static_url('images/invitations/test/high/invite.png') }}" height="100%">
          <div class="centered"><h1>{{ guest_name }}</h1></div>
        </div>
      </section>

      {% for i, image_link in enumerate(image_links) %}
      <section data-anchor="page {{ i+2 }}">
        <div class="container">
          <img src="{{ image_link }}" height="100%">
        </div>
      </section>
      {% end %}

    </main>
    <script src="https://unpkg.com/pageable@latest/dist/pageable.min.js"></script>
    <script src="{{ static_url('vendor/pageable/js/infinite.js') }}"></script>
    <script>
      $(document).ready(function() {
          $('#download-button').draggable();
      });
    </script>
  </body>
</html>
