<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="UTF-8">
    <title>MohSay</title>
    <link rel="stylesheet" href="{{ static_url('vendor/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('vendor/fontawesome-free/css/fontawesome.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('vendor/mohsay/css/login.css') }}">
  </head>
  <body>
    <div class="message">
      <div class="row-m-t">
        <div class="span4"></div>
        <div class="span4"><img class="logoimg" src="{{ static_url('images/logoimg.png') }}" alt="..."></div>
        <div class="span4"></div>
      </div>
      <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header border-bottom-0">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-title text-center">
                <h4>RSVP Code</h4>
              </div>
              <div class="d-flex flex-column text-center">
                <form id="rsvp-code-form" method="post">
                  <div class="form-group">
                    <input type="text" name="rsvp_code" class="form-control" id="password1" placeholder="Your RSVP code...">
                  </div>
                  <button type="submit" class="btn btn-block btn-outline-warning btn-round">Login</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bottomed centered" title="Enter RSVP code to login">
        <a class="btn btn-outline-warning btn-lg" href="#" data-toggle="modal" data-target="#loginModal" role="button">RSVP</a>
      </div>
    </div>
    <script src="{{ static_url('vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ static_url('vendor/mohsay/js/popper.min.js') }}"></script>
    <script src="{{ static_url('vendor/bootstrap/js/bootstrap.min.js') }}"></script>
  </body>
</html>
